extends layout 
 
block content 
  h1= title 
 
  form(id='DiningForm', action="/resource/Dinings", method="POST") 
    div.form-group 
        label.DiningAttr(for='Dining_style') Dining style
        input#Dining_type(type='style', name='Dining_style') 
    div.form-group 
        label.DiningAttr(for='Dining_type') Dining type
        input#size(type='type', name='Dining_type') 
    div.form-group 
        label.DiningAttr(for='Dining_size') Dining size
        input#cost(type='size', name='Dining_size') 
    input(type="submit") 
 
  script. 
    document.forms['DiningForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    }); 